* { 
    margin: 0; 
}

body{
    background-image: url("../assets/website-bg.jpg");
    background-repeat: repeat;
    background-size: 15%;
    animation-name: bg;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
    
}
@keyframes bg{
    0% {
      background-position: 0px, 0px;
    }
    100% {
      background-position: 500px, 0px;
    }
  }
  
header{
    width: auto;
    height: 450px;
    background-image: url("https://wallpaperaccess.com/full/2792347.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

nav{
    position: sticky;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 50px;
    background-color: black;
    grid-auto-flow: column;
    border-bottom: 5px solid green;
    
}
ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column: 2/3;
    list-style: none;
    
}
li{
    margin: auto;
}
a{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
}
#logo{
    max-width: 100%; 
    height: 100%;
    margin-left: 5px;
}
main{
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 300px;
    
}
/*TEST*/
#slide_show{
    grid-column: 2/3;
}