* { 
    margin: 0; 
}

body{
    background-image: url("../assets/website-bg.jpg");
    background-repeat: repeat;
    background-size: 15%;
    animation-name: bg;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
    
}
@keyframes bg{
    0% {
      background-position: 0px, 0px;
    }
    100% {
      background-position: 500px, 0px;
    }
  }
  
header{
    width: auto;
    height: 450px;
    background-image: url("https://wallpaperaccess.com/full/2792347.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

nav{
    position: sticky;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 50px;
    background-color: black;
    grid-auto-flow: column;
    border-bottom: 5px solid green;
    border-top: 1px double tomato;
    
}
ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column: 2/3;
    list-style: none;
    
}
li{
    margin: auto;
}
a{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
}
#logo{
    max-width: 100%; 
    height: 100%;
    margin-left: 5px;
}
main{
    /* GRID */
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;

}
.featured {
    grid-column: 2;
    grid-row: 2;
  }
  .gallery {
    grid-column: 1;
    grid-row: 2;
  }
  
  section {
    margin: 0.5rem;
  }

  .gallery {
    padding: 1rem;
    color: green;
    background-color:rgba(255,255,255,0.8);
    border: 1px dashed tomato;

    /* GRID */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-auto-rows: 150px;

    grid-gap: 1rem;
  }

  .gallery h2 {
    grid-column: 1 / 4;
  }

  .gallery img {
  
    /* OBJECT FIT */
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .gallery img:first-of-type {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .featured {
    border: 1px dashed tomato;
    align-items: center;
    background-color:rgba(6, 250, 99, 0.8);
    color: tomato;
    padding: 1rem;
  }

  .featured img {
    height: 150px;
    object-fit: cover;

    margin-top: 0.5rem;

    /* BOX-SIZING */
    border: 3px double tomato;
    box-sizing: border-box;
  }

  img{
    transition-duration: 1s;
    animation-direction: alternate;
    z-index: 1;
    opacity: 1;

  }
  img:hover{
    transition:all .5s ease-in-out;
    transform: scale(1.08, 1.08);
    z-index: 1;
  }


  footer{
    z-index: 1;
    max-width: max-content;
    height: 300px;
    background-color:rgba(206, 125, 4, 0.945);
    border-radius: 20px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  iframe{
    margin: auto;
  
    border-radius: 5px;
    border: 1px solid green;
  }


h1{
  
  z-index: 1;

  background-color:rgba(6, 250, 99,0.15);
  opacity: 0;
  width:fit-content;
  border-radius: 50px;
  position: relative;
  top: 45%;
  left: -50%;
  transition: 2.5s;
  padding: 8px;
  font-family: 'Frijole', cursive; 
  font-size: 2rem;
  -webkit-text-stroke: 0.15px tomato; /* width and color */
  color: yellow;
}
/*TEST*/
#slide_show{
    grid-column: 2/3;
}